<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apple Garden - особистий кабінет</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body class="cab-body">
        
        <header>
            <div class="header">
                <a href="../index.html">
                    <div class="logo">Apple Garden</div>
                </a>
        
                <div class="search">
                    <input type="text" class="search-input" placeholder="Пошук">
                </div>
        
                
                <div class="icons">
                    <a href="../partials/information.html" class="info">
                        <img class="info" src="../img/logo.png" alt="Info">
                    </a>
                    <a href="../partials/cabinet.html" class="cabinet">
                        <img src="../img/cab.png" alt="Cabinet">
                    </a>
                    <a href="../partials/cart.html" class="cart">
                        <img src="../img/cart.png" alt="Cart">
                    </a>
                </div>
        
                
                <div class="menu">
                    <button class="menu-toggle">☰</button>
                    <div class="menu-items">
                        <a href="../partials/information.html" class="info">
                            <img src="../img/logo.png" alt="Info">
                        </a>
                        <a href="../partials/cabinet.html" class="cabinet">
                            <img src="../img/cab.png" alt="Cabinet">
                        </a>
                        <a href="../partials/cart.html" class="cart">
                            <img src="../img/cart.png" alt="Cart">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        



        <main class="cab-main">
            <div class="cabinet-container">
                <form>
                    <label for="name">ПІБ</label>
                    <input type="text" id="name" name="name" placeholder="Гнатієнко Віталій Григорович">

                    <label for="phone-number">Номер телефону</label>
                    <input type="tel" id="phone-number" name="phone-number" placeholder="+380654878956">

                    <label for="email">Електронна пошта</label>
                    <input type="email" id="email" name="email" placeholder="example@gmail.com">

                    <label for="address">Адреса доставки</label>
                    <input type="text" id="address" name="address" placeholder="вул. Хрещатик 1">
                </form>
            </div>
            <div class="save-button-container">
                <button class="save-button">Зберегти</button>
            </div>
        </main>





        <footer class="footer">
            <div class="container1">
                <div class="footer_payments">
                    <img src="img/visa-logo.png" alt="Visa">
                    <img src="img/mc-logo-52.svg" alt="MasterCard">
                </div>
                <div class="email">
                    <p>apple.garden@gmail.com</p>
                </div>
                <div class="number">
                    <p>+38 (096) 000 00 00</p>
                </div>
            </div>
        </footer>
    </body>
</html>