<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apple Garden - особистий кабінет</title>
    </head>
    <body>
        <header>
            <h1>Особистий кабінет</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Головна</a></li>
                    <li><a href="catalog.html">Каталог товарів</a></li>
                    <li><a href="cabinet.html">Особистий кабінет</a></li>
                    <li><a href="information.html">Про нас</a></li>
                    <li><a href="cart.html">Кошик</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <hr>
            <h3>ПІБ</h3>
            <p>Дані</p>
            <hr>
            <h3>Номер телефону</h3>
            <p>Дані</p>
            <hr>
            <h3>Електронна пошта</h3>
            <p>Дані</p>
            <hr>
            <h3>Дата народження</h3>
            <p>Дані</p>
            <hr>
            <h3>Адреса доставки</h3>
            <p>Дані</p>
            <hr>
        </main>
        <footer>
            <img src="https://www.mastercard.ua/content/dam/public/mastercardcom/eu/uk/images/consumers/icons/mc-logo-52.svg" alt="" width="50" height="50">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAfCAMAAACF8f6iAAAAdVBMVEX///8UNMsAJMkAKspca9YALMoAJskAD8cIL8oAIMgAHcioreYAFMextumiqOUAAMaMlN9GV9G+wuxLXNLv8Pp7hdxlctf6+/7Cxu3f4fbm6PiVnOLO0fHV1/PZ3PSco+RWZtU5TdCBit0tRM5vetkfOswnP839FUl8AAAB00lEQVQ4je1TW4KDIAwkIIKIj/q2rda27t7/iJsE63KE/dj5aIlJJiQThPjHn8KjbbcEkQfzjkY7ihZ/ZzS7R+uMf/YLO+chSbbikzlOQ6W1ria2EqnlIGajtSFWk1oAsL5kp1RayySqelUAqqZT5wH8IgoJ9iLEDS0rM6n8Ss4iQxJQ8X1rBbbli6dgn0L0ioi6CkBfiql4GY56UnXw1yjx7vADHdCRYRNvC1nDFexv0Oopjxy/GH1gmpAgPc2HxLD7GbQrJJVHTx+0XEJsGtI6XEAjDZXwfRdCsH27jebo6RQlhfTGTfmOLT3g10tKwzCPTwhyf2GFOHFxSCduR8KgQbIAiad5uI3OOHk30n39HGc6mrNlLQT9u9Db9E0SONyOxoHqBQklizgxwSI5qvcmWbG3ajwcJVJSWxcLab6uNJ0+TsQkOLQQTRYIAlBTlHamQaXOYVjkQ8xBJElnXAdibXhdSHa1U/qJ8zYMzevEGuGtqI/WfO2vXWHDZiFlrSHIs/8DO1F61swATw5DtCI+/xJlWF4RplPGiYWR0vHmL5WUuJzXKsPHoJWj6lkmTXh4c3WEfdCVeV6yQiueaEZdU+/JXtNzu5Lz2CA85uIffws/lusXjWNFJpAAAAAASUVORK5CYII=" alt="" width="80" height="50">
            <p> Зв'язатися з нами: <br>
                'Номер телефону' <br>
                'Електронна пошта' <br>
                © 2024 Apple Garden</p>
            <a href="/privacy">Політика конфіденційності</a>
        </footer>
    </body>
</html>
