<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кошик</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="../index.html">
                <div class="logo">Apple Garden</div>
            </a>
    
            <div class="search">
                <input type="text" class="search-input" placeholder="Пошук">
            </div>
    
            
            <div class="icons">
                <a href="../partials/information.html" class="info">
                    <img class="info" src="../img/logo.png" alt="Info">
                </a>
                <a href="../partials/cabinet.html" class="cabinet">
                    <img src="../img/cab.png" alt="Cabinet">
                </a>
                <a href="../partials/cart.html" class="cart">
                    <img src="../img/cart.png" alt="Cart">
                </a>
            </div>
    
            
            <div class="menu">
                <button class="menu-toggle">☰</button>
                <div class="menu-items">
                    <a href="../partials/information.html" class="info">
                        <img src="../img/logo.png" alt="Info">
                    </a>
                    <a href="../partials/cabinet.html" class="cabinet">
                        <img src="../img/cab.png" alt="Cabinet">
                    </a>
                    <a href="../partials/cart.html" class="cart">
                        <img src="../img/cart.png" alt="Cart">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="cart-main">
        <div class="cart-item">
            <img src="../img/item_img.jpg" alt="iPhone" class="item-image">
            <div class="item-details">
                <p class="item-title">Мобільний телефон Apple iPhone 16 Pro Max 256GB Desert Titanium</p>
            </div>
            <div class="item-quantity">
                <button class="quantity-btn">&lt;</button>
                <span class="quantity-number">1</span>
                <button class="quantity-btn">></button>
            </div>
            <div class="item-price">
                <p>69999 ₴</p>
            </div>
        </div>
        <div class="cart-summary">
            <p>Загальна сума: <span class="total-price">69 999 ₴</span></p>
            <button class="checkout-btn">Перейти до оформлення замовлення</button>
        </div>
        <br>
    </main>
    <footer class="footer">
        <div class="container1">
            <div class="footer_payments">
                <img src="img/visa-logo.png" alt="Visa">
                <img src="img/mc-logo-52.svg" alt="MasterCard">
            </div>
            <div class="email">
                <p>apple.garden@gmail.com</p>
            </div>
            <div class="number">
                <p>+38 (096) 000 00 00</p>
            </div>
        </div>
    </footer>
</body>
</html>
