<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Garden - кращий інтернет магазин</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body class="catalog-body">
    <header>
        <div class="header">
            <a href="../index.html">
                <div class="logo">Apple Garden</div>
            </a>
    
            <div class="search">
                <input type="text" class="search-input" placeholder="Пошук">
            </div>
    
            
            <div class="icons">
                <a href="../partials/information.html" class="info">
                    <img class="info" src="../img/logo.png" alt="Info">
                </a>
                <a href="../partials/cabinet.html" class="cabinet">
                    <img src="../img/cab.png" alt="Cabinet">
                </a>
                <a href="../partials/cart.html" class="cart">
                    <img src="../img/cart.png" alt="Cart">
                </a>
            </div>
    
            
            <div class="menu">
                <button class="menu-toggle">☰</button>
                <div class="menu-items">
                    <a href="../partials/information.html" class="info">
                        <img src="../img/logo.png" alt="Info">
                    </a>
                    <a href="../partials/cabinet.html" class="cabinet">
                        <img src="../img/cab.png" alt="Cabinet">
                    </a>
                    <a href="../partials/cart.html" class="cart">
                        <img src="../img/cart.png" alt="Cart">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main class="catalogmain">


        <div class="catalogpage">
            <section class="filters">

                <h1>Фільтри</h1>

                <div class="border"></div>

                <ul class="filter-list">
                    <li>
                        <label>
                            <input class="input1" type="checkbox" name="category" value="Iphone">
                            Iphone
                        </label>
                    </li>
                    <li>
                        <label>
                            <input class="input1" type="checkbox" name="category" value="Airpods">
                            Airpods
                        </label>
                    </li>
                    <li>
                        <label>
                            <input class="input1" type="checkbox" name="category" value="MacBooks">
                            MacBooks
                        </label>
                    </li>
                    <li>
                        <label>
                            <input class="input1" type="checkbox" name="category" value="Others">
                            Others
                        </label>
                    </li>
                </ul>

                <div class="border"></div>

                <div class="slider-container">
                    <label for="priceRange">Виберіть ціну:</label>
                    <input type="range" id="priceRange" min="0" max="1000" step="10" value="500">
                    <div class="value-display">
                        Поточна ціна: <span id="priceValue">500</span> грн
                    </div>
                </div>

                <div class="border"></div>

                <ul class="filter-list1">
                    <li>
                        <label>
                            <input type="checkbox" name="category" value="IphoneType">
                            Iphone 14
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="category" value="IphoneType1">
                            Iphone 15
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="category" value="IphoneType2">
                            Iphone 16
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="category" value="IphoneType3">
                            Iphone 11
                        </label>
                    </li>
                </ul>

                <div class="border"></div>

                <button class="apply-filters">Застосувати</button>
            </section>

            <section class="catalog1">
                <h1>Каталог товарів</h1>
                <div class="border"></div>
                    <div class="line">
                        <div class="product">
                            <img src="../img/product4.webp" alt="Product 1">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 14</div>
                                <div class="product-price">49999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                            </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                        <div class="product">
                            <img src="../img/catalog_product_img.webp" alt="Product 2">
                            <div class="catalog-product-info">
                                <div class="product-title">Iphone 15</div>
                                <div class="product-price">59999 ₴</div>
                                <a href="../partials/item.html" class="buy-button">Купити</a>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
</main>




<footer class="footer">
    <div class="container1">
        <div class="footer_payments">
            <img src="img/visa-logo.png" alt="Visa">
            <img src="img/mc-logo-52.svg" alt="MasterCard">
        </div>
        <div class="email">
            <p>apple.garden@gmail.com</p>
        </div>
        <div class="number">
            <p>+38 (096) 000 00 00</p>
        </div>
    </div>
</footer>

</body>


</html>