<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Garden - iPhone 16 Pro Max</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="../index.html">
                <div class="logo">Apple Garden</div>
            </a>
    
            <div class="search">
                <input type="text" class="search-input" placeholder="Пошук">
            </div>
    
            
            <div class="icons">
                <a href="../partials/information.html" class="info">
                    <img class="info" src="../img/logo.png" alt="Info">
                </a>
                <a href="../partials/cabinet.html" class="cabinet">
                    <img src="../img/cab.png" alt="Cabinet">
                </a>
                <a href="../partials/cart.html" class="cart">
                    <img src="../img/cart.png" alt="Cart">
                </a>
            </div>
    
            
            <div class="menu">
                <button class="menu-toggle">☰</button>
                <div class="menu-items">
                    <a href="../partials/information.html" class="info">
                        <img src="../img/logo.png" alt="Info">
                    </a>
                    <a href="../partials/cabinet.html" class="cabinet">
                        <img src="../img/cab.png" alt="Cabinet">
                    </a>
                    <a href="../partials/cart.html" class="cart">
                        <img src="../img/cart.png" alt="Cart">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="product-container">
            <div class="product-image">
                <img src="../img/item_img.jpg" alt="iPhone 16 Pro Max">
            </div>
            <div class="product-info">
                <h2>iPhone 16 Pro Max</h2>
                <p><strong>Виробник:</strong> Apple</p>
                <p><strong>Вбудована пам'ять:</strong><br></p>
                <div class="memory-options">
                    <button class="memory-button">128GB</button>
                    <button class="memory-button">256GB</button>
                    <button class="memory-button">512GB</button>
                </div>
                <p class="price"> 69999 ₴</p>    
                <button class="buy-button">Додати в кошик</button>
                <h3>Опис</h3>
                <p>iPhone 16 Pro Max забезпечує безпрецедентну потужність та продуктивність із оновленим процесором і революційною камерою.</p>
                <h3>Характеристики</h3>
                <ul>
                    <li>Дисплей: 6.7" Super Retina XDR</li>
                    <li>Процесор: A17 Bionic</li>
                    <li>Камера: потрійна 48MP</li>
                    <li>Акумулятор: 4685mAh</li>
                </ul>
            </div>
        </div>
        <div class="company-container">
            <div class="company-info">
                <h3>Про компанію Apple</h3>
                <p>Бренд Apple користується популярністю по всьому світу. Компанія відома своєю якісною технікою, підтримкою програмного забезпечення, захистом конфіденційних даних користувачів...</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container1">
            <div class="footer_payments">
                <img src="img/visa-logo.png" alt="Visa">
                <img src="img/mc-logo-52.svg" alt="MasterCard">
            </div>
            <div class="email">
                <p>apple.garden@gmail.com</p>
            </div>
            <div class="number">
                <p>+38 (096) 000 00 00</p>
            </div>
        </div>
    </footer>
</body>
</html>
